{% extends 'base.html' %}
<br>

{% block content %}

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    h2 {
        margin-top: 15px;
        font-size: 30px;
    }

    p {
        text-align: justify;
    }
</style>

<body cz-shortcut-listen="true">
    <main role="main" height="150px">
        <div class="container marketing">

            <div>
                <div align="center">
                    <img src="https://github.com/RenatoRibas/PRJ02-MachineLearning/raw/main/src/Images/Logo.png"
                        alt="Logo">
                </div>

                <br>
                <h3 id="integrantes-">Integrantes:</h3>
                <ul>
                    <li><a href="https://github.com/">Vitor Henrique Pereira</a></li>
                    <li><a href="https://github.com/Castrozan">Lucas de Castro Zanoni</a></li>
                    <li><a href="https://github.com/KenielDev">Keniel Alves Nunes</a></li>
                    <li><a href="https://github.com/RenatoRibas">Renato Ribas Campos</a></li>
                </ul>
                <h2 id="descri-o-do-projeto">Descrição do Projeto</h2>
                <p>Este projeto visa desenvolver um pipeline completo de machine learning para a previsão
                    sustentável de consumo de energia na indústria siderúrgica.</p>
                <h3 id="import-ncia-do-projeto">Importância do Projeto</h3>
                <ul>
                    <li><strong>Eficiência Operacional:</strong> Otimiza o uso de energia, maximizando a eficiência
                        operacional.</li>
                    <li><strong>Sustentabilidade Ambiental:</strong> Contribui para práticas mais sustentáveis,
                        reduzindo a pegada de carbono.</li>
                    <li><strong>Planejamento Estratégico:</strong> Capacita empresas a realizar um planejamento
                        estratégico mais preciso.</li>
                </ul>
                <h2 id="metodologia">Metodologia</h2>
                <p>O projeto utiliza o método de regressão, desde a coleta de dados até o treinamento do modelo.</p>
                <h3 id="coleta-de-dados">Coleta de Dados</h3>
                <p>Utilizamos dados históricos abrangendo diversas variáveis, como Reativo atual, Emissões de CO2,
                    etc.</p>
                <h3 id="pr-processamento-de-dados">Pré-processamento de Dados</h3>
                <p>Realizamos a etapa de pré-processamento para limpeza e normalização dos dados.</p>
                <h3 id="escolha-do-modelo-de-machine-learning">Escolha do Modelo de Machine Learning</h3>
                <p>Optamos por um modelo de regressão linear devido à sua capacidade de lidar com relações complexas
                    entre as variáveis de entrada.</p>
                <h3 id="treinamento-do-modelo">Treinamento do Modelo</h3>
                <p>O modelo foi treinado utilizando dados históricos, ajustando-se aos padrões identificados durante
                    a fase de pré-processamento.</p>
                <h2 id="base-de-dados">Base de Dados</h2>
                <p>A base de dados está disponível <a
                        href="https://archive.ics.uci.edu/dataset/851/steel+industry+energy+consumption">aqui</a>.
                </p>
                <h2 id="tecnologias-bibliotecas-e-frameworks">Tecnologias, Bibliotecas e Frameworks</h2>
                <ul>
                    <li>pandas</li>
                    <li>numpy</li>
                    <li>scikit-learn</li>
                    <li>seaborn</li>
                    <li>matplotlib</li>
                </ul>
            </div>

            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-12">
                    <img src="" alt="">
                </div>
            </div>
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</body>
{% endblock %}