{% extends 'base.html' %}
<br>

{% block content %}

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    h2 {
        margin-top: 15px;
        font-size: 30px;
    }

    p {
        text-align: justify;
    }
</style>

<body cz-shortcut-listen="true">
    <main role="main" height="150px">
        <div class="container marketing">

            <!-- Three columns -->
            <div class="row text-center">
                <div class="col-lg-10">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="0"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: 140x140">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#FFF"></rect><text x="50%" y="50%" fill="#FFF"
                            dy=".3em"></text>
                    </svg>
                    <h2>Engenharia de Software</h2>
                    <p>Os integrantes da Engenharia de Software são responsáveis pelo desenvolvimento e manutenção do
                        software, assim como a integração dos dados, de forma que cumpra com os objetivos apresentados.
                    </p>
                    <p>Lucas de Castro Zanoni</p>
                    <p>Roger Henrique Alves Rodrigues</p>
                    <p>Elói de Matos da Silveira</p>
                    <p>Keniel Alves Nunes</p>
                    <p><a class="btn btn-secondary" target="_blank"
                            href="https://unisatc.com.br/graduacao/engenharia-de-software/" role="button">Ver detalhes
                            »</a></p>
                </div>
            </div>

            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-12">
                    <img src="" alt="">
                </div>
            </div>
        </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</body>
{% endblock %}